body {
    font-family: "Poppins", "sans-serif";
    color: #fff;
}

main {
    background-color: #202931;
}

header {
    background-color: #202931;
}

.dropdown-menu[data-bs-popper] {
    left: auto;
    background-color: #202931;
}

.dropdown-item:hover {
    background-color: #000 !important;
}

.navbar-toggler {
    background-color: #fff;
}

#banner {
    background-image: url(../assets/banner_pag_index.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 94vh;
}

#banner h1,
#banner h2 {
    color: #ff1515;
}

#banner h1 {
    font-size: 7rem;
    /* position: absolute;
    top: 20%;
    left: 10%; */
    margin-top: 7.5rem;
    font-weight: bold;
}

#banner h2 {
    font-size: 3rem;
    /* position: absolute;
    top: 40%;
    left: 10%; */
    text-align: start;
}

.link-trailer {
    text-decoration: none;
}

img {
    width: 300px;
    cursor: pointer;
}

.card-body {
    height: 180px;
    cursor: pointer;
}

.card-img-top {
    height: 232.88px;
}


/* Footer */

.footzao {
    background-color: #f3f4f5;
    color: #141414;
}

#container-social {
    border-bottom: 2px solid #ff1515;
    padding-bottom: 20px;
}

#img-title-social {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.social-body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#img-social {
    width: 48px;
}

#title-social,
#address-social {
    text-decoration: none;
    color: #141414;
}

.title-nav {
    display: flex;
    margin-left: 51px;
    padding: 0;
}

#container-nav {
    margin-top: 20px;
    margin-left: 50px;
}

.nav-list {
    padding-left: 0;
    margin-top: 20px;
}

.nav-list li {
    list-style: none;
    margin-bottom: 20px;
}

.title-nav {
    text-decoration: none;
    color: #141414;
}


/* Responvididade */

@media (max-width:1440px) {
    #banner h1 {
        font-size: 6rem;
    }
    #banner h2 {
        font-size: 2.3rem;
    }
}

@media (max-width:1024px) {
    #banner h1 {
        font-size: 5rem;
    }
    #banner h2 {
        font-size: 1.9rem;
    }
}

@media (max-width:768px) {
    #banner h1 {
        font-size: 4rem;
    }
    #banner h2 {
        font-size: 1.5rem;
    }
}

@media (max-width:425px) {
    #banner h1 {
        text-align: center;
    }
    #banner h2 {
        text-align: center;
    }
}


/* @media(max-width:643px) {
    .nav-list {
        padding-left: 0;
        margin-top: -520px;
    }
} */