* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#img-logo {
    width: 200px;
}

.nav-list {
    padding-left: 0;
    margin-top: 20px;
}

.nav-list li {
    list-style: none;
    margin-bottom: 20px;
}